---
import TechTag from "../components/TechTag.astro"
---
<article id="home" class="w-full h-screen flex">
    <figcaption class="relative w-[50%] flex flex-col items-start justify-center py-12 pl-5">
        <h2 class="text-4xl uppercase font-bold ">I'm Alfred Gichia</h2>
        <p class="text-lg py-5 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, culpa alias? Quae itaque quisquam dignissimos deleniti labore veniam repellat asperiores?</p>
        <button class="bg-orange-500 h-12 rounded-lg px-4">View Resume</button>
     >
        </figcaption>
    <figure class="h-full bg-slate-300 w-[50%] animate-pulse ">
       
    </figure>
</article>