---
import SectionTitle from "../components/SectionTitle.astro"

---
<article id="contact" class="w-full h-screen">
    <SectionTitle title="Reach out"/>
    <p>This is the contact section</p>
</article>