---
import SectionTitle from "../components/SectionTitle.astro"
---
<article id="skills" class="w-full  bg-slate-100 h-[85vh]">
    <SectionTitle title="skills & experiences"/>
    <p>This is the skills section</p>
</article>