---
import SocialMediaIcon from "../components/SocialMediaIcon.astro"
import react from "../assets/react.png"

---

<section class="fixed bottom-4 left-5 gap-5">
    <SocialMediaIcon icon={react}/>
    <SocialMediaIcon icon={react}/>
    <SocialMediaIcon icon={react}/>
    <SocialMediaIcon icon={react}/>

</section>