---
import WorkCard from "../components/WorkCard.astro";
import SectionHeading from "../components/SectionHeading.astro"

---

<article id="work" class=" relative w-full py-16  ">
    <SectionHeading subTitle="work" title="featured projects"/>
 <section class="grid phone:grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-4 gap-5 p-4 place-items-center px-5 tablet:px-10 laptop:px-15">
        <WorkCard/>
        <WorkCard/>
        <WorkCard/>
        <WorkCard/>
    </section>
 <div class="custom-shape-divider-bottom-1694798741">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
</article>

<style>
    .custom-shape-divider-bottom-1694798741 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1694798741 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 55px;
}

.custom-shape-divider-bottom-1694798741 .shape-fill {
    fill: #F1F5F9;
}
</style>