---
import Layout from '../layouts/Layout.astro';
import Banner from '../containers/Banner.astro';
import Services from '../containers/Services.astro';
import Work from '../containers/Work.astro';
import Skills from "../containers/Skills.astro";
import ContactUs from "../containers/ContactUs.astro";
---

<Layout title="alfreds-portfolio">
	<main>
		<Banner/>
		<Services/>
		<Work/>
		<Skills/>
		<ContactUs/>
	</main>
</Layout>

