<section class="flex items-center justify-start gap-4 rounded-lg shadow-lg h-24 w-full">
    <p class="h-full text-primary flex flex-row items-center justify-center w-[20%] font-bold text-lg">2022</p>
    <p class="flex flex-col ">
    <span class="text-md font-bold ">MERN Stack Developer</span>
    <span>Fiverr</span>
    </p>

</section>