---
import { Image } from 'astro:assets';
interface Props {
    image:any,
    heading:string,
    body:string,
}
const {image,heading,body}=Astro.props;

---
<article class="rounded-lg aspect-square w-full h-full flex flex-col items-center justify-start bg-tranparent ">
    <Image src={image} alt="Alternative image"  class="rounded-lg w-full h-[60%]"/>
<figcaption class=" flex flex-col justify-start items-start  gap-2 py-2">
    <h3 class="text-start text-lg font-bold ">{heading}</h3>
    <p >{body}</p>
</figcaption>
</article>