<article class="rounded-lg aspect-square w-full flex flex-col items-center justify-start bg-white">
<figure class="bg-slate-300 animate-pulse rounded-t-lg h-[60%] border-2 border-red-300 w-full"></figure>
<figcaption class=" flex flex-col justify-start items-center pt-2">
    <h3>Card heading</h3>
    <p>Card body</p>
</figcaption>
</article>