---
import CardIcon from '../components/CardIcon.astro'
import { Image } from 'astro:assets';
import FrontEnd from "../assets/Front_End Dev.png";

---

<article class="rounded-lg  aspect-square py-3 w-full flex flex-col items-center justify-start h-[400px] bg-white shadow-md">
<figure class="bg-slate-300  rounded-t-lg h-[65%] w-full relative">
    <Image src={FrontEnd} alt="Alternative image"  class="rounded-t-lg w-full h-full"/>
     <section class="bottom-0 right-1 absolute w-max flex items-center justify-start gap-1.5 ml-auto mb-2 "> 
        <CardIcon/>
        <CardIcon/>
        <CardIcon/>
        <CardIcon/>
    </section>
</figure>
<figcaption class="relative flex flex-col justify-start items-center pt-2 px-2 gap-1 text-center h-[35%] ">
    <h1 class="px-5 rounded-full w-max bg-white capitalize"> Project Heading</h1>

    <p class="px-0.5 text-sm ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos architecto alias assumenda consectetur.</p>
</figcaption>
</article>