---
import TechTag from '../components/TechTag.astro'
import { Image } from 'astro:assets';

interface Props {
    link:string;
    image:any,
    name:string,
    description:string,
}
const {image,name,description,link}=Astro.props;
---

<a href={link} class="card work section_hidden rounded-2xl  aspect-square w-full flex flex-col items-center justify-start h-full shadow-xl bg-white shadow-slate-500/20 cursor-pointer ">
<figure class="  rounded-l w-full h-[60%] relative group">
    <Image src={image} alt="Alternative image"  class="rounded-t-2xl h-full aspect-video"/> 
</figure>
<figcaption class="relative flex flex-col justify-between items-center px-2 gap-3 pt-1 text-center h-[40%] w-full pb-1 ">
    <h1 class="absolute mt-[-16px] bg-orange-600 text-slate-50 px-4 py-0.5 rounded-full  font-extrabold capitalize  text-[14px]">{name}</h1>
    <p class=" text-[15px] font-thin mt-7">{description}
    </p>
    <section class="self-end flex items-center justify-center gap-1 "> 
        <TechTag text="react"/>
        <TechTag text="tailwind"/>
        <TechTag text="mongodb"/>
    </section>
</figcaption>
</a>