---
import CardIcon from '../components/CardIcon.astro'
import { Image } from 'astro:assets';
import FrontEnd from "../assets/Front_End Dev.png";

---

<article class="rounded-lg  aspect-square w-full flex flex-col items-center justify-start h-full shadow-xl bg-white shadow-orange-500/20 ">
<figure class="  rounded-t-lg h-[65%] w-full relative">
    <Image src={FrontEnd} alt="Alternative image"  class="rounded-t-lg w-full h-full"/>
</figure>
<figcaption class="relative flex flex-col justify-between items-center pt-2 px-1 gap-2 text-center  ">
    <h1 class=" uppercase font-bold text-md"> Project Heading</h1>
    <p class=" text-[14px] font-thin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, voluptate!
    </p>
     <section class=" relative  flex items-center justify-start gap-1.5  mb-2 "> 
        <CardIcon/>
        <CardIcon/>
        <CardIcon/>
        <CardIcon/>
    </section>
</figcaption>
</article>